<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switter</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Your publications</h1>
    <a th:href="@{/page}">Your page</a>
    <br>
    <br>
    <div th:each="publication: ${pubs}">
        <textarea disabled th:text="${publication.text}"></textarea>
        <p>
            Written by: <span th:text="*{publication.user.username}" />
        </p>

        <form th:method="PUT" th:action="@{'/publication/' + ${publication.id}}">
            <input type="submit" value="Update publication">
        </form>
        <form th:method="DELETE" th:action="@{'/publication/' + ${publication.id}}">
            <input type="submit" value="Delete publication">
        </form>
        <br>
    </div>

    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</body>
</html>